.aside {
display: flex;
flex-direction: column;
align-items: center;
padding: 40px 16px;
gap: 80px;

margin: 0 auto;
width: 177px;
max-width: 282px;
height: 1531px;

background: #171D1F;
border-radius: 8px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}